{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "^meteor/",
          "^/"
        ]
      }
    ],
    "import/extensions": [
      "error",
      {
        "ignore": [
          "^meteor/",
          "^/"
        ]
      }
    ]
  },
  "globals": {
    "Meteor": false,
    "Session": false,
    "Roles": false,
    "Slingshot": false,
    "SimpleSchema": false,
    "ValidatedMethod": false,
    "HTTP": false,
    "Bert": false,
    "document": false,
    "window": false,
    "location": false,
    "chai": false,
    "shallow": false,
    "mount": false,
    "render": false
  }
}
